.dashboard-container {
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-title {
  font-weight: bold;
  color: #333;
}

.form-control-lg {
  padding: 10px 15px;
  font-size: 1.1rem;
}

.table {
  border-radius: 8px;
  overflow: hidden;
}

.table-hover tbody tr:hover {
  background-color: #e9ecef;
}

.quantity-control .btn {
  font-size: 0.8rem;
  width: 30px;
  height: 30px;
  padding: 0;
}

.table thead {
  background-color: #343a40;
  color: #fff;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-danger {
  font-size: 0.8rem;
}

.app-container {
  display: flex;
  transition: margin-left 0.3s ease;
}

.sidebar-open .dashboard-content {
  margin-left: 250px; /* Adjust this width to match sidebar width */
}

.dashboard-content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}
