
/* .main-content {
    padding-left: 0;
    transition: padding-left 0.3s ease;
  }
  
  .main-content.open {
    padding-left: 250px; /* Adjusts content when sidebar is open */
  /* } */
  
  /* @media (max-width: 768px) {
    .main-content.open {
      padding-left: 200px;
    }
  }
  
  @media (max-width: 480px) {
    .main-content.open {
      padding-left: 180px;
    }
  } */ 
  